@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KHTeka";
  src: url("/fonts/KHTeka/KHTeka-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
