@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "./fonts.css";
@import "./theme.css";

@theme {
  --color-text: var(--color-grey-10);
  --color-background: var(--color-off-white);
  --color-stroke: var(--color-grey-78);

  /* z-index hierachy: */
  --z-base: auto;
  --z-header: 1;
}

body {
  @apply text-base antialiased bg-background text-text;
  font-family: var(--font-sans);
}

/* 
 * generic responsive container class
 * todo: make one without (vertical) padding?
 */
.container-fluid {
  @apply w-full max-w-lg p-5 mx-auto;
}

@utility text-underline {
  @apply underline underline-offset-5 decoration-1;
}
