/* 
* https://tailwindcss.com/docs/font-size
* Use .text-*-fluid classes for responsive text sizes.
*/
@theme {
  --text-*: initial;
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.75rem;
  --text-3xl--line-height: calc(2.25 / 1.75);
  --text-4xl: 2rem;
  --text-4xl--line-height: calc(2.5 / 2);
  --text-5xl: 2.25rem;
  --text-5xl--line-height: calc(2.5 / 2.25);
  --text-6xl: 3rem;
  --text-6xl--line-height: 1;
  --text-7xl: 3.75rem;
  --text-7xl--line-height: 1;
  --text-8xl: 4.5rem;
  --text-8xl--line-height: 1;
  --text-9xl: 6rem;
  --text-9xl--line-height: 1;
  --text-10xl: 8rem;
  --text-10xl--line-height: 1;
}

.text-4xl-fluid {
  @apply text-5xl md:text-7xl lg:text-8xl;
}
.text-3xl-fluid {
  @apply text-4xl md:text-6xl lg:text-7xl;
}
.text-2xl-fluid {
  @apply text-3xl md:text-5xl lg:text-6xl;
}
.text-xl-fluid {
  @apply text-2xl md:text-4xl lg:text-5xl;
}
.text-lg-fluid {
  @apply text-xl lg:text-2xl;
}
.text-md-fluid {
  @apply text-lg lg:text-xl;
}
.text-sm-fluid {
  @apply text-base;
}
.text-xs-fluid {
  @apply text-sm;
}
