/* 
* https://tailwindcss.com/docs/font-size
* Use .text-*-fluid classes for responsive text sizes.
*/
@theme {
  --text-*: initial;
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem; /* 16px */
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.75rem; /* 28px */
  --text-3xl--line-height: calc(2.25 / 1.75);
  --text-4xl: 2rem; /* 32px */
  --text-4xl--line-height: calc(2.5 / 2);
  --text-5xl: 2.25rem; /* 36px */
  --text-5xl--line-height: calc(2.5 / 2.25);
  --text-6xl: 3rem; /* 48px */
  --text-6xl--line-height: 1;
  --text-7xl: 3.75rem; /* 60px */
  --text-7xl--line-height: 1;
  --text-8xl: 4.5rem; /* 72px */
  --text-8xl--line-height: 1;
  --text-9xl: 6rem; /* 96px */
  --text-9xl--line-height: 1;
  --text-10xl: 8rem; /* 128px */
  --text-10xl--line-height: 1;
}

/* at lg: font size becomes vw = (font size / --container-lg) * 100 */
.text-4xl-fluid {
  @apply text-5xl -tracking-[0.02em] md:text-7xl lg:text-[4.2857vw];
}
.text-3xl-fluid {
  @apply text-4xl -tracking-[0.02em] md:text-6xl lg:text-[3.5714vw];
}
.text-2xl-fluid {
  @apply text-3xl -tracking-[0.02em] md:text-5xl lg:text-[2.8571vw];
}
.text-xl-fluid {
  @apply text-2xl -tracking-[0.01em] md:text-4xl lg:text-[2.1429vw];
}
.text-lg-fluid {
  @apply text-xl lg:text-[1.4286vw];
}
.text-md-fluid {
  @apply text-lg lg:text-[1.1905vw];
}
.text-sm-fluid {
  @apply text-base lg:text-[0.9524vw];
}
.text-xs-fluid {
  @apply text-sm lg:text-[0.8333vw];
}
