/* https://tailwindcss.com/docs/theme */

@import "./text.css";

@theme {
  --font-*: initial;
  --font-sans: "KHTeka", "Inter", system-ui, sans-serif;

  --color-*: initial;
  --color-off-white: #fcf6ee;
  --color-orange: #ff8c45;
  --color-yellow: #ffd24c;
  --color-blue: #97d2ec;
  --color-grey-10: #1a1a1a;
  --color-grey-17: #2b2b2b;
  --color-grey-32: #54524f;
  --color-grey-44: #74716d;
  --color-grey-60: #9e9a94;
  --color-grey-78: #cfc8bf;
  --color-grey-91: #eee9e2;
  --color-black: #000;
  --color-white: #fff;

  --container-*: initial;
  --container-sm: 24rem;
  --container-md: 50rem;
  --container-lg: 105rem;

  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --radius-*: initial;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  --stroke-base: 1px;
  --stroke-md: 2px;

  --spacing-page: 10rem;
  --spacing-section: 5rem;
}
